
//Button Colors
$btn-primary-color: #7C71DF;
$btn-secondary-color: #F8F7FB;
$btn-teritery-color: #686A74;

//Background Colors
$bg-primary-color: #FFFFFF;
$bg-secondary-color: #F8F7FB;
$bg-teritary-color: #897FE1;
$bg-teritary-black-color: #101010;

//Color
$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #F65061;
$color-orange: #FD8B2B;

//Grey
$color-grey-1: #D0D1D5;
$color-grey-2: #BABBC1;
$color-grey-3: #A5A7AF;
$color-grey-4: #91939C;
$color-grey-5: #5F6980;
$color-grey-6: #686A74;
$color-grey-7: #55575F;
$color-grey-8: #2E2F33;