//Fonts
@mixin Display_01 {
  font-family: "inter";
  font-size: rem(149);
  font-weight: bold;
}

@mixin Display_02 {
  font-family: "inter";
  font-size: rem(119);
  font-weight: bold;
}

@mixin Heading_2 {
  font-family: "inter";
  font-weight: bold;
  font-size: rem(61);
}

@mixin Heading_3 {
  font-family: "inter";
  font-weight: bold;
  font-size: rem(49);
}

@mixin Heading_04 {
  font-family: "inter";
  font-weight: bold;
  font-size: rem(39);
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px,
);

//Media Query
@mixin media($width, $type: min) {
  // Check if $width is a key in $grid-breakpoints and retrieve its value
  @if map_has_key($grid-breakpoints, $width) {
    $width: screen($width);
  }

  // Adjust width for max-width queries
  @if $type == max {
    $width: $width - 1px;
  }

  // Create the media query with the calculated width
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}
